<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="NikKova">
	<meta name="description" content="Hairdresser Web Site">
    <title>SmartNinja basic Jinja template</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<!--CSS-->
	<link type="text/css" rel="stylesheet" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
    <header class="container">
	  <div class="row">
	    <h3 class="col-sm-4">Homepage</h3>
		<nav class="col-sm-8">
		  <button class="navbar-toggle" data-toggle="collapse" data-target=".meni">
		    <span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <div class="collapse navbar-collapse meni">
		    <ul class="nav navbar-nav navbar-right">
			  <li><a href="/o_meni">O meni</a></li>
			  <li><a href="/moji_projekti">Moji projekti</a></li>
			  <li><a href="/blog">Blog</a></li>
			  <li><a href="/kontakt" data-toggle="modal">Kontakt</a></li>
			  <li><input type="text" placeholder="Search" id="browser"></li>
			</ul>
          </div>
        </nav>
	  </div>
	</header>
    <div class = "container">
        <p>The European languages are members of the same family. Their separate existence is a myth. For science,
            music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their
            pronunciation and their most common words. Everyone realizes why a new common language would be desirable:
            one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform
            grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting
            language is more simple and regular than that of the individual languages. The new common language will be
            more simple and regular than the existing European languages. It will be as simple as Occidental; in fact,
            it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge
            friend of mine told me what Occidental is.The European languages are members of the same family. Their
            separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The
            languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes
            why a new common language would be desirable: one could refuse to pay expensive translators. To</p>
    </div>
</body>
</html>